<form id="post-new-comment" action="https://api.staticman.net/v2/entry/tisqui/tisqui.github.io/master/comments" method="post">
    
   <input name="options[redirect]" type="hidden" value="https://my-site.com">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <!-- <input name="options[slug]" type="hidden" value="{{ page.slug }}">-->
  <label>Name</label>
  <input name="fields[name]" type="text"/>
  <label>E-mail</label>
  <input name="fields[email]" type="email"/>
  <label>Message</label>
  <textarea name="fields[message]"></textarea>
  
  <button type="submit">Go!</button>
</form>
